body {
  margin: 0px;
  padding: 0px;
}

#container {
  float: left;
  clear: both;
  width : 600px;
  height: 384px;
  margin: 8px auto;
}

#buttons {
  float: left;
  width: 600px;
  height: 100px;                  
  margin-left: auto;
  margin-right: auto;
 }

#interest {
  float: left;
  width: 600px;
  height: 100px;
  margin-left: auto;
  margin-right:auto;
}

button {
  float: left;
  display: inline-block;
  background: #393939;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#2a2a2a));
  background: -moz-linear-gradient(center top, #565656 0%, #2a2a2a 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 15px;
  display: inline-block;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  font-family: Arial;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
}

button:hover {
  background: #486816;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d921f), color-stop(100%,#335111));
  background: -moz-linear-gradient(center top, #6d921f 0%, #335111 100%);
}
